.box-1 {
  width: match-parent;
  height: 500px;
  background-color: #f00;
  border: 1px solid #000;
  border-radius: 5px;
}

.box-2 {
  width: match-parent;
  height: 500px;
  background-color: #0f0;
  border: 1px solid #000;
  border-radius: 5px;
}

.box-3 {
  width: match-parent;
  height: 500px;
  background-color: #00f;
  border: 1px solid #000;
  border-radius: 5px;
}